# Q1.
Write a Python program to convert kilometers to miles?

1 km = 0.621371 miles

In [4]:
kilometers=float(input("Enter your distance in kilometers"))
miles=0.621371*kilometers
print("Your distance in miles is",miles)

Enter your distance in kilometers4
Your distance in miles is 2.485484

# Q2
Write a Python program to convert Celsius to Fahrenheit?

Formula : fahrenheit = celsius * 1.8 + 32

In [6]:
celsius=float(input("Enter the temperature in celcius"))
fahrenheit= celsius * 1.8 + 32
print("the temperature in fahrenheit is",fahrenheit)

Enter the temperature in celcius14
the temperature in fahrenheit is 57.2

# Q3
Write a Python program to display calendar?

In [8]:
import calendar

In [9]:
year=int(input("Enter year"))
month=int(input("Enter month"))

Enter year2001
Enter month5

In [10]:
print(calendar.month(year,month))

      May 2001
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

# Q4
Write a Python program to solve quadratic equation?

ax**2 + bx + c = 0

In [12]:
a=float(input("Value of a:"))
b=float(input("Value of b:"))
c=float(input("Value of c:"))

Value of a:1
Value of b:5
Value of c:6

In [13]:
x1=(-b+ (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
x2=(-b- (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

print("the two solutions are {0} and {1}".format(x1,x2))

the two solutions are -2.0 and -3.0

# Q5
Write a Python program to swap two variables without temp variable?

In [18]:
int1 = int(input("Enter first number: "))
int2 = int(input("Enter second number: "))
print('Old value of int1 is {0} and int2 is {1}'.format(int1, int2))

Enter first number: 100
Enter second number: 200
Old value of int1 is 100 and int2 is 200

In [19]:
int1 = int1 + int2
int2 = int1 - int2
int1 = int1 - int2

In [21]:
print('New value of int1 is {0} and int2 is {1}'.format(int1, int2))

New value of int1 is 200 and int2 is 100